
.dino-card{
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
}
.carInfo{
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
}